body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Finlandica', 'Merriweather', sans-serif;
}

.logo {
    text-indent: 100px;
    width: 175px;
    height: 175px;
    position: relative; right: 560px; bottom: 40px;
    margin: 0;
    padding: 0;
}

hr {
    width: 99%;
    position: absolute; top: 15%;
    border-radius: 2%;
}


.Benefits {
  position: absolute;
  margin-top: 0px;
  display: block;
  right: 60%;
  top: 50px;
  font-family: Montserrat;
}

  .Contact {
    position: absolute;
    margin-top: 0px;
    display: block;
    right: 900px;
    top: 50px;
    font-family: Montserrat;
  }

  .FAQs {
    position: absolute;
    margin-top: 0px;
    display: block;
    right: 36%;
    top: 50px;
    font-family: Montserrat;
  }

  .button {
    position: absolute; top: 32px; right: 300px; 
	display: flex;
	height: 50px;
	padding: 0;
	background: #E38B29;
	border: none;
	outline: none;
	border-radius: 20px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
}

.button:hover {
	background: #FFD8A9;
}

.button:active {
	background: #F1A661;
}

.button__text {
    position: absolute; top: 12px;
}

.button__text,
.button__icon {
	display: inline-block;
	align-items: center;
	width: 140px;
    
}

.button2 {
  position: absolute; bottom: 1000px; right: 1200px; 
display: flex;
height: 50px;
padding: 0;
background: #E38B29;
border: none;
outline: none;
border-radius: 20px;
overflow: hidden;
font-family: Montserrat;
font-size: 18px;
font-weight: 500;
cursor: pointer;
}

.button2:hover {
background: #FFD8A9;
}

.button2:active {
background: #F1A661;
}

.button___text {
  position: absolute; top: 12px;
}

.button___text,
.button___icon {
display: inline-block;
align-items: center;
width: 140px;
  
}

.button3 {
  position: absolute; bottom: 700px; right: 1150px; 
display: flex;
height: 28px;
padding: 0;
background: #E38B29;
border: none;
outline: none;
border-radius: 20px;
overflow: hidden;
font-family: Montserrat;
font-size: 14px;
font-weight: 500;
cursor: pointer;
}

.button3:hover {
background: #FFD8A9;
}

.button3:active {
background: #F1A661;
}

.button____text {
  position: absolute; top: 5px;
}

.button____text,
.button____icon {
display: inline-block;
align-items: center;
width: 180px;
  
}



.top-container {
    margin: 0px auto 0 auto

}

.top-cloud {
    position: relative; right: 100px; top: 20px;
}

.bottom-cloud {

    position: relative; left: 90px;
}

.tempo {
  position: relative; right: 300px;
  font-size: 60px;
}

.tempo2 {
  position: relative; right: 300px; bottom: 40px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  
}

.modelvertical {
  position: relative; bottom: 300px; left: 650px; border-radius: 20px;
}

.reddit {
 position: relative; bottom: 550px; right: 580px;
}

.instagram {
  position: relative; bottom: 550px; right: 530px;
}

.tiktok {
  position: relative; bottom: 550px; right: 480px;
}

.onlyfans {
  position: relative; bottom: 550px; right: 420px;
}




   
